<div class="pageWidth container">
	<br/>
	<br/>
	<div class="detail_search row">
     <!--    <div class="col-md-4">
            <p class="logo mini_logo"><span>uumai</span> 悠悠买</p>
        </div> -->
        <div class="col-md-2">
            <div class="dropdown ">
                 
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="搜一搜" ng-model="searchWords" ng-keypress="enterSearchWord($event)">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="search" ng-click="searchGoods()">uu一下</button>
                </span>
            </div>
        </div>
    </div>
	<br/>
	<br/>
	<br/>
	<!-- product display -->
	<div class="row">
	   	<p class="goods_name" ng-bind="item.name"></p><br/>
	</div>
    <div class="row">
    	<div class="col-md-3">
        	<div class="thumbnail"><img ng-src="{{item.imgurl}}" alt=""></div>
        </div>
        <div class="col-md-4">
        	<p class="goods_price" ng-bind="item.price|currency:'￥'"></p>
        	<p class="goods_description" ng-bind="item.name"></p>
            <p><a class="btn btn-success my-btn" ng-href="{{item.outLink}}" target="_blank"><span class="glyphicon glyphicon-send"></span>   前往</a></p>
        </div>
        <div class="col-md-5">
			<canvas id="line" class="chart chart-line" data="data" labels="labels" series="series"></canvas>
        </div>
        <div class="col-md-12">
             <div id="container" style="width:100%; height:400px;"></div>
        </div>
    </div>

	<!-- relative goods 
    <table class="table table-striped table-hover line-link">
    	<thead>
    		<tr>
    			<th>商城</th>
    			<th>商品名称</th>
    			<th>价格</th>
    			<th>库存</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat='list in item.others'>
    			<td ng-bind="list.logo"></td>
    			<td ng-bind="list.name"></td>
    			<td ng-bind="list.price | currency:'¥'"></td>
    			<td ng-bind="list.source"></td>
                <td><a ng-href="{{list.url}}">前往</a></td>
    		</tr>
    	</tbody>
    </table>
    -->
</div>