<div class="pageWidth container">
	<div class="detail_search row">
     <!--    <div class="col-md-4">
            <p class="logo mini_logo"><span>uumai</span> 悠悠买</p>
        </div> -->
        <div class="col-md-2">
            <div class="dropdown ">
                 
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="搜一搜" ng-model="searchWords">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="search" ng-click="searchGoods()">GO</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- sort buttons -->
        <div class="col-md-5">
            <input type="hidden" ng-model="predicate" ng-init="predicate='comprehensive'" >
            <div class="btn-group">
                <button class="btn btn-default" ng-class="setSelectedClass(btn.type)" ng-repeat="btn in goodsOrder" ng-click="resetOrder(btn.type)" ng-bind="btn.name"></button>
            </div>
        </div>        
        <!-- filter && view port -->
        <div class="col-md-6">
            <div class="form-inline alignRight">
                <label class="form_label">高级过滤：</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="highFilter"> 直邮中国
                    </label>
                </div>
                <label class="form_label">超级低价过滤：</label>
                <select class="form-control" ng-model="lowFilter">
                    <option value="null">空</option>
                    <option value="1">1个月内最低</option>
                    <option value="3">3个月内最低</option>
                    <option value="6">6个月内最低</option>
                </select>
                <label class="form_label">视图切换：</label>
                <div class="iconbtn-group">
                    <a class="btn icon-btn" ng-click="showGoods('block')" ng-class="setView('block')"><span class="glyphicon glyphicon-th"></span></a>
                    <a class="btn icon-btn" ng-click="showGoods('list')" ng-class="setView('list')"><span class="glyphicon glyphicon-align-justify"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br/>
     <div class="col-md-2"><div class="form-inline alignLeft" ng-bind="'第'+currentPage+'页 ,共'+total+'条'"></div></div>
    </div>
    <!-- goods Block -->
    <div class="goodList row" ng-show="showBlock">
        <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="list in goodBlocks.items | orderBy:predicate">
            <div class="thumbnail">
                <a href="#/detail/{{list.pid}}" target="_blank">
                    <img ng-src="{{list.bigimgsrc}}" alt="">
                </a>
                <div class="caption">
                    <p class="listGoodDescrib">
                        <a href="#/detail/{{list.pid}}" ng-bind="list.name"></a>
                    </p>
                    <p ng-bind="list.price" class="goods_price"></p>
                    <section class="grayDescrib">
                        <p class="listSales">客户评级<span ng-bind="list.star"></span></p>
                        <p class="listComment"><span class="listComments" ng-bind="list.customerreviews"></span>条评论</p>    
                    </section>
                    <!-- <p>综合排名：<span ng-bind="list.comprehensive"></span></p> -->
                    <p class="listSource" ng-bind="list.logo"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- good List -->
    <div class="goodList row" ng-show="showList">
        <table class="table table-striped table-hover line-link" id="goodList">
            <thead>
            <!--    <th>商城</th>-->
                <th></th>    <!--图片-->
                <th>商品名称</th>
                <th>品牌</th>
                <th>原价</th>
                <th>折扣价</th>
                <th>直邮中国</th>
                <th>有货</th>
                <th>自营</th>
                <th>客户评级</th>
                <th>评论数</th> 
                <th></th> 
                <th>更新时间</th> 
            </thead>
            <tbody>
                <tr ng-repeat="list in goodBlocks.items | orderBy:predicate">
                 <!--    <td ng-bind="list.logo" class="logoColor"></td> -->
                    <td>
                       <a href="#/detail/{{list.pid}}" target="_blank">
                            <img ng-src="{{list.thumbnail}}" alt="">
                       </a> 
                    </td>
                    <td><a href="#/detail/{{list.pid}}"  target="_blank" ng-bind="list.name"></a></td>
                    <td ng-bind="list.brand"></td>
                    <td ng-bind="list.listprice"></td>
                    <td ng-bind="list.price" class="priceColor"></td>
                    <td ng-bind="list.directPost"></td>
                    <td ng-bind="list.instock"></td>
                    <td ng-bind="list.ziying"></td>
                    <td ng-bind="list.star"></td>
                    <td ng-bind="list.customerreviews"></td>
                    <td><a href="{{list.url}}"  target="_blank">购买</a></td>  
                    <td ng-bind="list.updatetime"></td>  
                </tr>
            </tbody>
        </table>
    </div>
    <div class="well" ng-show="showFeedBack">
        <h2 class="text-center">没有结果，点击<a href="/feedback/{{searchWords}}">提交反馈</a></h2>
    </div>
    <!-- paging -->
    <div class="paging">
        <paging
            page="currentPage" 
            page-size="pageSize" 
            total="total"
            adjacent="{{adjacent}}"
            dots="{{dots}}"
            scroll-top="{{scrollTop}}" 
            hide-if-empty="{{hideIfEmpty}}"
            ul-class="{{ulClass}}"
            active-class="{{activeClass}}"
            disabled-class="{{disabledClass}}"
            show-prev-next="{{showPrevNext}}"
            paging-action="DoCtrlPagingAct(page, pageSize)">
        </paging>   
    </div>
</div>