<div class="loginTable">
	<div class="login_logo">
		<h1 style="font-size:80px;">Logo Image</h1>
	</div>
	<div class="alert" ng-class="{true : 'alertSuccess', false : 'alertDanger'}[isSuccess]" ng-bind="messageText"></div>
	<div class="login_form">
		<form id="common_login" novalidate name="loginForm">
			<div class="form-group alignRight">
				<a href="" class="" ng-bind="loginMethod" ng-click="changeLoginMethod()"></a>
			</div>
			<div class="form-group input-group">
			  <input class="form-control" placeholder="{{usernameType}}" type="text" required name="username" value="" ng-model="userIdentity.username">
			  <span class="input-group-addon"><span class="glyphicon glyphicon-user inputTable"></span></span>
			</div>
			<div class="form-group" ng-hide="needPhone">
				<button type="" class="my-btn2 btn-default" ng-click="getTextCode()">获取短信动态码</button>
			</div>
			<div class="form-group input-group">
				<input class="form-control" placeholder="密码" type="password" required name="pwd" ng-model="userIdentity.password">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock inputTable"></span></span>
			</div>
			<div class="form-group alignRight">
				<a id="forgetPassword">忘记密码？</a>
			</div>
			<div class="form-group">
				<input class="btn btn-primary btn_group " type="submit" value="登    　录" ng-click="login()" ng-disabled="!loginForm.$valid">
				<a class="btn btn-info btn_group floatRight" ng-href="#/register">注    　册</a>
			</div>
			<!--
			<div class="form-group three_part">
				<span>第三方登陆</span>
				<ul class="three_part_login floatRight">
					<li><a href=""><i class="fa fa-weixin green"></i>微信</a></li>
					<li><a href=""><i class="fa fa-qq blue"></i>QQ</a></li>
					<li><a href=""><i class="fa fa-weibo red"></i>微博</a></li>
				</ul> 
			</div>
		-->
		</form>
	</div>
	
</div>
