<div class="container">
	<div class="logo_layout">
		<p class="logo"><span>uumai</span> 悠悠买</p>
	</div>

	<div class="index_search input-group input-group-lg">
		<input type="text" class="form-control" placeholder="搜一搜" ng-model="searchWords">
		<span class="input-group-btn">
			<button class="btn btn-primary" ng-click="goToList()" dateKeys >uu一下</button>
		</span>
	</div>
	<div class="shop_nav">
		<ul>
			<li><a href=""><img src="/images/101.png" alt=""></a></li>
			<li><a href=""><img src="/images/102.png" alt=""></a></li>
			<li><a href=""><img src="/images/103.png" alt=""></a></li>
			<li><a href=""><img src="/images/104.jpg" alt=""></a></li>
			<li><a href=""><img src="/images/105.jpg" alt=""></a></li>
			<li><a href=""><img src="/images/106.gif" alt=""></a></li>
			<li><a href=""><img src="/images/107.jpg" alt=""></a></li>
			<li><a href=""><img src="/images/108.jpg" alt=""></a></li>
			<li><a href=""><img src="/images/109.png" alt=""></a></li>
			<li><a href=""><img src="/images/102.png" alt=""></a></li>
			<li><a href=""><img src="/images/102.png" alt=""></a></li>
			<li><a href=""><img src="/images/102.png" alt=""></a></li>
		</ul>
	</div>
</div>