<nav class="navbar-default navbar-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="main-menu">
			<li><a href="#/file"><i class="fa fa-dashboard"></i> 我的简历</a></li>
			<li class="active"><a class="active-menu" href="#/way"><i
					class="fa fa-fw fa-sitemap"></i>我的渠道</a></li>
					<li><a href="#list"><i class="fa fa-sitemap"></i>简历搜索<span	class="fa arrow"></span></a>
						<ul class="nav nav-second-level collapse" aria-expanded="false"
							style="">
							<li><a>类别一</a></li>
							<li><a>类别二</a></li>
						</ul>
					</li>
		</ul>
	</div>
</nav>