/* common style */
* { padding:0; margin:0; }
body { font:12px/1.25em "Microsoft YaHei"; color:#3e3e3e;}
form, input { font:12px/1.25em "Microsoft YaHei"; border:none;background:none;}
li, dt, dd { list-style:none; }
h1,h2, h3, h4, h5 {font:12px/1.25em "Microsoft YaHei"; font-weight:normal; }
a { cursor: pointer;color:#256EB1; text-decoration:none; }
a:hover,a:focus { color:#ff6400; text-decoration:none; text-decoration: underline;}
img { border:none;}
strong { font-weight:normal; }
em { font-style: normal; }
p { text-indent:0; }

.noMbottom{margin-bottom: 0;}
.my-btn{border: none;border-radius: 0px;margin: 5px 0;padding: 5px 20px;}

body{position: relative;font-family: Arial,Verdana;}
.pageWidth{width: 80%; max-width: 1000px;}

/* fix btn active bug */
.btn{
	box-shadow: none!important;
}
.iconbtn-group{display: inline-block;}
.icon-btn{font-size: 22px;color:#7B7B7B;display: inline-block; padding: 0 5px;}
.icon-btn:hover{color:#d58512;}
.orange{color:#ec971f;}
.alignRight{text-align: right;}
.form_label{margin-left: 15px;}
.icon{float: left;width: 18px;height: 18px;line-height:18px;overflow: hidden;margin-left: 6px;margin-top:12px;}
.appleIcon {background: url(d_icon.gif) no-repeat 0 0;margin-top: -1025px;width: 18px;height: 1100px;}
.JDIcon {background: url(d_icon.gif) no-repeat 0 0;margin-top: -25px;width: 18px;height: 1100px;}
.amazonIcon {background: url(d_icon.gif) no-repeat 0 0;margin-top: -50px;width: 18px;height: 1100px;}
.suningIcon {background: url(d_icon.gif) no-repeat 0 0;margin-top: -425px;width: 18px;height: 1100px;}
.taobaoIcon {background: url(d_icon.gif) no-repeat 0 0;margin-top: -150px;width: 18px;height: 1100px;}
.yixunIcon {background: url(d_icon.gif) no-repeat 0 0;margin-top: -75px;width: 18px;height: 1100px;}
.yihaodianIcon {background: url(d_icon.gif) no-repeat 0 0;margin-top: -525px;width: 18px;height: 1100px;}
.dangdangIcon {background: url(d_icon.gif) no-repeat 0 0;margin-top: -500px;width: 18px;height: 1100px;}
.guomeiIcon {background: url(d_icon.gif) no-repeat 0 0;margin-top: -450px;width: 18px;height: 1100px;}

.appleIconL {background: url(d_iconno.gif) no-repeat 0 0;margin-top: -1025px;width: 18px;height: 1100px;}
.JDIconL {background: url(d_iconno.gif) no-repeat 0 0;margin-top: -25px;width: 18px;height: 1100px;}
.amazonIconL {background: url(d_iconno.gif) no-repeat 0 0;margin-top: -50px;width: 18px;height: 1100px;}
.suningIconL{background: url(d_iconno.gif) no-repeat 0 0;margin-top: -425px;width: 18px;height: 1100px;}
.taobaoIconL {background: url(d_iconno.gif) no-repeat 0 0;margin-top: -150px;width: 18px;height: 1100px;}
.yixunIconL {background: url(d_iconno.gif) no-repeat 0 0;margin-top: -75px;width: 18px;height: 1100px;}
.yihaodianIconL {background: url(d_iconno.gif) no-repeat 0 0;margin-top: -525px;width: 18px;height: 1100px;}
.dangdangIconL {background: url(d_iconno.gif) no-repeat 0 0;margin-top: -500px;width: 18px;height: 1100px;}
.guomeiIconL {background: url(d_iconno.gif) no-repeat 0 0;margin-top: -450px;width: 18px;height: 1100px;}
ul.filterUl{list-style:none;margin:0px;}
ul.filterUl li{float:left;line-height:43px;height:43px;}
ul.filterUl li.icon{float:left;line-height:25px;height:25px;}
ul.filterUl li font{margin-right:1em;padding:0 15px 0 5px;}