/* header */
header{background: #f2f2f2;color:#256EB1;}
.header_logo{font-family: cursive;font-size: 24px;}
.header_nav{height: 35px; line-height: 35px;display: block;padding: 0 10px;}
/* index page */

/* login */
.login_body_bg{background:#f2f2f2;}
.login_wall{width: 900px;margin: 80px auto;}
.login_logo{ width: 900px;color:#01859c;font-size: 30px;}
.loginTable { background-color:white; width: 900px; margin: 90px auto;border: 5px solid #E9E7E7;overflow: hidden;}
.leftCon {color:#337ab7;display: block;overflow:hidden; float: left; margin: 30px 30px 30px 0; width: 360px; height: 300px;}
.content {padding: 30px; }
.contentTitle{ font-size: 35px; text-align: left;}
.contentDet {font-size: 25px; text-indent:50px; padding-top: 20px;}
.form {float:right; background-color:#f2f2f2; margin: 30px;padding: 40px;width: 360px; height: 300px;}
.form-group {margin-bottom: 15px;}
.inputTable {color:#337ab7;}
.input_gal {display:block; height: 30px;}
#forgetPass {color:#337ab7; display:block; text-align: right; padding: 30px 0 10px;}
.call_tel {display: none;}
.logoutLink{ cursor:pointer;}
.logo_blueMark{position:absolute;width: 120px;height: 120px;}
.logo_blueMark img{width: 100%;margin-top: -46px;margin-left: -270px;}
.main{overflow: hidden;padding: 30px 0;}
.login_nav{float: right;}
.login_nav ul{list-style: none;}
.login_nav ul li{display: inline-block;}
.login_nav ul li a{line-height: 50px;padding: 0 10px;}
footer{position: absolute;bottom: 0px;width: 100%;color:#aaa;padding:20px 0; }
footer p{text-align: center;}

/* search page */
.logo_layout{padding: 60px 0;}
.logo{font-size: 60px; text-align: center;font-family: cursive;font-weight: 900;color: #1672A9;}
.mini_logo{font-size: 40px;text-align: left;}
.logo span{font-family:fantasy; }
.dropdown-menu li .glyphicon-menu-right{float: right;font-size: 10px;color: #ccc; line-height: 18px;}
.main_menu{line-height: 34px;font-size: 16px;font-family: sans-serif;}
.index_search{width: 50%;margin: 0 auto; }
#choose_categories_btn{cursor: pointer;}
#choose_categories{display: none;}
.breadcrumb{background: #EFEFEF;}
.shop_nav{}
.shop_nav ul{width: 560px; margin: 50px auto; overflow: hidden;list-style: none;}
.shop_nav ul li{float: left;}
.shop_nav ul li a{display: block; width: 130px; height: 80px; background: #eee;margin: 5px;overflow: hidden;}
.shop_nav ul li a img{width: 100%;}

/* list page */
.displayNone{display: none;}
.goodList .caption{color:#7E7E7E;}
.goodList{padding-top: 30px;}
#goodList td{vertical-align: middle;}
.goodList table img{ max-width: 50px;  max-height: 50px;}
.goodList .thumbnail{border:none;}
.goodList .thumbnail:hover{box-shadow: 0px 0px 15px 0px #B0B0B0;}
.goodList .listGoodDescrib{height: 32px;overflow: hidden;text-overflow: ellipsis;}
.goodList .listGoodDescrib a:hover{color:#256EB1;}
.grayDescrib{overflow: hidden;}
.listSales{float: left;}
.listComment{margin-left: 100px;}
.goodList .listComments{}
.goodList .listSource{font-size: 14px;color:#008a00;font-weight: 800;}
.paging{text-align: center;}
.paging ul li{cursor: pointer;}
.priceColor{color:#FF6100;}
.logoColor{color:#008a00;}

/* detail page */
.detail_search{margin-bottom: 30px;position: relative;}
.goods_name{font-size: 16px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.goods_price{color: #FF6100;font-size: 20px;margin: 5px 0;font-family: Verdana;}
.goods_description{font-size: 12px;height: 104px;overflow: hidden;text-overflow: ellipsis;}
table.line-link{cursor: pointer;}
@media (min-width: 900px){
	.index_search{width: 560px;}
}

@media (max-width: 500px){
	.detailPage{width: 100%;}
}